@{
    string action = Request.RequestContext.RouteData.GetRequiredString("Action");
    string queryName = string.IsNullOrEmpty(Request.QueryString["qtype"]) ? "" : Request.QueryString["qtype"];
}
@using HST.Art.Core

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="教育,教育委员会,建设,专业,职业,山东省,职业教育,艺术,艺术培训,艺术指导委员会" />
    <meta name="description" content="山东省艺术职业教育专业建设指导委员会" />
    <title>@ViewBag.Title</title>
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Content/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/Content/lib/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/webclient")
    @if (action.Equals("index", StringComparison.InvariantCultureIgnoreCase))
    {
        @*@Styles.Render("~/swiper")*@
        <link rel="stylesheet" href="~/Content/css/swiper.min.css">
        <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    }

    @Scripts.Render("~/bundles/webclient")
    @Scripts.Render("~/bundles/ajaxAsync")
</head>
<body @(action.Equals("index", StringComparison.InvariantCultureIgnoreCase) ? "style=background:#f2f2f2" : "")>
    <header>
        <div class="top">
            <div class="cont top_div">
                @Html.Action("Header", "Home")
            </div>
        </div><!--/top-->
    </header>
    <nav>
        <div class="nav-logo">
            <a href="@Url.Action("Index", "Home")"><img src="/Content/image/logo.jpg" alt=""></a>
        </div>
        <div class="nav-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
       
        <ul class="nav-list">
            <li><a href="@Url.Action("Index", "Home")" class="@(action.Equals("index",StringComparison.InvariantCultureIgnoreCase)||action.Equals("certificate",StringComparison.InvariantCulture)?"active":"")">首页</a></li>
            <li>
                <a href="@Url.Action("About","Home")" class="@(action.Equals("about",StringComparison.InvariantCultureIgnoreCase)?"active":"")">协会概况</a>
                <ul class="menu">
                    <li class="@(queryName.Equals("Synopsis",StringComparison.InvariantCultureIgnoreCase)?"active":"")"><a href="@Url.Action("About","Home", new { qtype = QSType.synopsis })">协会简介</a></li>
                    <li class="@(queryName.Equals("Frame",StringComparison.InvariantCultureIgnoreCase)?"active":"")"><a href="@Url.Action("About","Home", new { qtype = QSType.frame })">组织架构</a></li>
                    <li class="@(action.Equals("about",StringComparison.InvariantCultureIgnoreCase)&&(queryName.Equals("List",StringComparison.InvariantCultureIgnoreCase)||queryName.Equals("Detail",StringComparison.InvariantCultureIgnoreCase))?"active":"")"><a href="@Url.Action("About","Home", new { qtype = QSType.list })">协会会员</a></li>
                </ul>
            </li>
            <li>
                <a class="@(action.Equals("industry",StringComparison.InvariantCultureIgnoreCase)?"active":"")" href="@Url.Action("industry")">行业资讯</a>
                @Html.Action("SecondMenu", "Home", new { sectionType = CategoryType.Industry })
            </li>
            <li>
                <a class="@(action.Equals("association",StringComparison.InvariantCultureIgnoreCase)?"active":"")" href="@Url.Action("association")">协会活动</a>
                @Html.Action("SecondMenu", "Home", new { sectionType = CategoryType.Association })
            </li>
            <li>
                <a class="@(action.Equals("social",StringComparison.InvariantCultureIgnoreCase)?"active":"")" href="@Url.Action("social")">社会公益</a>
                @Html.Action("SecondMenu", "Home", new { sectionType = CategoryType.Social })
            </li>
            <li>
                <a class="@(action.Equals("examination",StringComparison.InvariantCultureIgnoreCase)?"active":"")" href="@Url.Action("examination")">考级中心</a>
                @Html.Action("SecondMenu", "Home", new { sectionType = CategoryType.Examination })
            </li>
            <li>
                <a class="@(action.Equals("download",StringComparison.InvariantCultureIgnoreCase)?"active":"")" href="@Url.Action("download")">下载专区</a>
                @Html.Action("SecondMenu", "Home", new { sectionType = CategoryType.Download })
            </li>
        </ul>
    </nav>
    <div class="nav-zhan"></div>
    <div class="content-wrap">
        @RenderBody()
    </div>
    <div class="foot">
        <div class="foot_cont">
            @Html.Action("Footer", "Home")
        </div>
    </div>
    <footer>京ICP备20011563号-1</footer>
    <script type="text/javascript">
        $(document).ready(function () {
            var topMain = $("header").height();
            //var topNav = $("nav").outerHeight();
            //var topHeight = isMobile() ? topNav : topMain;
            var nav = $("nav");
            if (!isMobile()) {
                $(window).scroll(function () {
                    if ($(window).scrollTop() > topMain) {
                        nav.addClass("nav_scroll");
                    } else {
                        nav.removeClass("nav_scroll");
                    }
                });
            }
        })

        $(document).click(function () {
            $('.nav-list').removeClass('open')
        })
        $('.nav-menu,.nav-list').click(function (e) { e.stopPropagation() })
        $('nav').find('.nav-menu').click(function (e) {
            $('.nav-list').toggleClass('open')
        })

        function isMobile() {
            var userAgentInfo = navigator.userAgent;
            var mobileAgents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
            var mobile_flag = false;
            //根据userAgent判断是否是手机
            for (var v = 0; v < mobileAgents.length; v++) {
                if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
                    mobile_flag = true;
                    break;
                }
            }
            var screen_width = window.screen.width;
            // var screen_height = window.screen.height;
            //根据屏幕分辨率判断是否是手机
            if (screen_width < 996) {
                mobile_flag = true;
            }
            return mobile_flag;
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
