@using ZT.SMS.Web
@using ZT.SMS.Core
@using ZT.Utillity

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>信息管理  <a class="btn btn-primary radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-10 bg-1 bk-gray mt-10 search-wrap">
        <span class="label-inline">订单号：</span>
        <input type="text" id="sel_filVal" placeholder="请输入订单编号" class="input-text lg inline " />
        <span class="label-inline">状态：</span>
        <select name="sel_orderstate" id="sel_state" class="select select-box sm inline">
            <option value="-1">全部状态</option>
            <option value="@((int)MsgSendState.Unsent)">未发送</option>
            <option value="@((int)MsgSendState.SendFailed)">发送失败</option>
            <option value="@((int)MsgSendState.ReceiveFailed)">接收失败</option>
            <option value="@((int)MsgSendState.SendSuccess)">发送成功</option>
        </select>
        <span class="label-inline">创建时间：</span>
        <input type="text" onclick="WdatePicker()" placeholder="创建/导入日期" id="sel_date" class="input-text inline Wdate" />
        <button name="search" id="search" class="btn btn-success ml-20" type="button"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        @*<button class="btn btn-default " onclick="msg_add('新建信息','@Url.Action("Add")')" type="button">新建</button>*@
        <button class="btn btn-primary " onclick="msg_import('批量导入','@Url.Action("Import")')" type="button">导入</button>
        <button class="btn btn-warning" onclick="batch_send('一键发送','@Url.Action("Progress", new { state = (int)MsgSendState.Unsent })','@MsgSendState.Unsent')" type="button">一键发送</button>
        <div class="dropdown btn-group float-right">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                更多 <i class="Hui-iconfont">&#xe6d5;</i>
            </button>
            <div class="dropdown-menu right">
                <a class="dropdown-item" href="javascript:;" onclick="msg_add('新建信息','@Url.Action("Add")')">新建信息</a>
                <a class="dropdown-item" href="javascript:;" onclick="msg_Righting()">冲正</a>
                <a class="dropdown-item" href="javascript:;" onclick="batch_send('一键发送','@Url.Action("Progress", new { state = (int)MsgSendState.SendFailed })','@MsgSendState.SendFailed')">失败批量发送</a>
            </div>
        </div>
        <input type="hidden" id="is_admin" value="@ViewBag.IsSupAdmin" />
    </div>
    <div class="mt-10">
        <table id="tbTable" class="table table-border table-bordered table-bg table-sort">
            <thead>
                <tr class="text-c">
                    <th width="5%">序号</th>
                    <th width="15%">订单编号</th>
                    <th width="18%">商品名称</th>
                    <th width="10%">手机号</th>
                    <th width="10%">订单日期</th>
                    <th width="8%">状态</th>
                    <th width="11%">推送日期</th>
                    <th width="11%">创建时间</th>
                    <th width="12%">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var table1 = null;
        $(function () {
            table1 = initializeTable();
            $("#search").click(function () {
                table1.ajax.reload();
            });

            //输入名称回车查询
            $("#sel_filVal").keypress(function (e) {
                if (e.which == 13) {
                    table1.ajax.reload();
                    $("#search").focus();
                }
            });
        });

        /*编辑*/
        function msg_edit(title, url, id) {
            var index = top.layer.open({
                type: 2,
                title: title,
                area: ['600px', '480px'],
                content: url + "?id=" + id
            });
        }

        /*添加*/
        function msg_add(title, url) {
            var index = top.layer.open({
                type: 2,
                title: title,
                area: ['600px', '480px'],
                content: url
            });
        }

        function msg_import(title, url) {
            var index = top.layer.open({
                type: 2,
                title: title,
                area: ['750px', '500px'],
                content: url
            });
        }

        /*冲正*/
        function msg_Righting() {
            top.layer.confirm('冲正时不可进行其他操作', function (e) {
                var loadIndex = top.layer.msg('数据正在处理中,请稍后...', {
                    icon: 16, shade: 0.4, time: 0
                });

                $.ajax({
                    url: '@Url.Action("Righting")',
                    type: "post",
                    success: function (data) {
                        top.layer.close(loadIndex);
                        if (data.isSuccess) {
                            top.layer.alert('操作成功！', {
                                icon: 6,
                                closeBtn: 0,
                                yes: function () {
                                    if (parent[1] != null) {
                                        parent[pageIndex()].table1.ajax.reload();
                                    } else if (parent.table1 != null) {
                                        parent.table1.ajax.reload();
                                    } else {
                                        parent[0].table1.ajax.reload();
                                    }
                                    parent.layer.closeAll();
                                }
                            });
                        } else {
                            top.layer.alert('操作失败！', { icon: 5 });
                        }
                    },
                    error: function (data) { top.layer.close(loadIndex); top.layer.alert('操作失败！', { icon: 5 }); }
                })
            });
        }

        /*发送*/
        function batch_send(title, action, state) {
            $.ajax({
                url: '@Url.Action("CheckSupportSend")',
                type: "get",
                data: { state: state },
                success: function (data) {
                    if (data.isSuccess) {
                        top.layer.confirm('确认要' + title + '吗？', function (e) {
                            var index = top.layer.open({
                                type: 2,
                                title: "正在发送中...",
                                area: ['750px', '200px'],
                                content: action
                            });
                        });
                    } else {
                        top.layer.alert(data.message, { icon: 8 });
                    }
                },
                error: function (data) {
                    top.layer.alert('操作失败！' + data, { icon: 5 });
                }
            })
        }

        function initializeTable() {
            var dataTable = $('#tbTable').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetJsonData")",
                    "type": "post",
                    "data": function (data) {
                        data.pageIndex = (data.start / data.length) + 1;
                        data.SendState = $("#sel_state").val();
                        data.MsgId = $("#sel_filVal").val();
                        data.CreateDate = $("#sel_date").val();
                    }
                },
                "columns": [
                      { "defaultContent": "" },
                      { "mDataProp": "Number" },
                        { "mDataProp": "OrderName" },
                         { "mDataProp": "Phone" },
                      { "mDataProp": "OrderDate" },
                      { "mDataProp": "State" },
                      { "mDataProp": "SendDate" },
                      { "mDataProp": "CreateTime" },
                      { "defaultContent": "" }

                ],
                "columnDefs": [
                 {
                     "targets": [5],
                     "data": "State",
                     "render": function (data, type, full) {
                         var result = data;
                         if (data == '@((int)MsgSendState.ReceiveFailed)') {
                             result = "<span class=\"label label-warning radius\">接收失败</span>";
                         }
                         else if (data == '@((int)MsgSendState.SendSuccess)') {
                             result = "<span class=\"label label-success radius\">发送成功</span>";
                         } else if (data == '@((int)MsgSendState.Unsent)') {
                             result = "<span class=\"label label-primary radius\">未发送</span>";
                         } else {
                             result = "<span class=\"label label-danger radius\">发送失败</span>";
                         }

                         return result;
                     }
                 },
        {
            "targets": [-1],
            "data": "Id",
            "render": function (data, type, full) {
                var isAdmin = $("#is_admin").val();
                var tmpString = "<button class='btn btn-primary size-MINI' onclick=\"msg_edit('修改信息','@Url.Action("Edit")'," + data + ")\" type='button'>编辑</button>";
                if (full.State == 0)
                    tmpString += "<button class='btn btn-warning size-MINI' onclick=\"obj_send('发送','@Url.Action("Send")'," + data + ")\" type='button'>发送</button>";
                else if (full.State == 1)
                    tmpString += "<button class='btn btn-warning size-MINI' onclick=\"obj_send('重新发送','@Url.Action("Send")'," + data + ")\" type='button'>重新发送</button>";
                if (isAdmin)
                    tmpString += "<button class='btn btn-danger size-MINI' onclick=\"obj_del('消息','@Url.Action("Delete")'," + data + ")\" type='button'>删除</button>";

                return tmpString;
            }
        }
                ],
                "fnDrawCallback": function () {
                    var api = this.api();
                    var startIndex = api.context[0]._iDisplayStart;
                    api.column(0).nodes().each(function (cell, i) {
                        cell.innerHTML = startIndex + i + 1;
                    });
                },
                "rowCallback": function (row, data, displayIndex) {
                    $(row).attr("class", "text-c");
                    $(row).children('td').eq(7).attr("class", "td-status");
                    $(row).children('td').eq(10).attr("class", "td-manage");
                },
                "initComplete": function (settings, json) {

                },
                language: {
                    lengthMenu: '',
                    loadingRecords: '数据加载中...',
                    paginate: {
                        previous: "上一页",
                        next: "下一页",
                        first: "",
                        last: ""
                    },
                    zeroRecords: "暂无数据",

                    info: "<span class='pagesStyle'>总共<span class='recordsStyle'> _TOTAL_ 条,计 _PAGES_ </span>页，当前显示 _START_ -- _END_ 条记录 </span>",
                    infoEmpty: "0条记录",
                    infoFiltered: ""
                },
                "searching": false,
                "ordering": false,
                "autoWidth": false,
                "iDisplayLength": 50,
                "processing": true,
                //destroy: true, //Cannot reinitialise DataTable,解决重新加载表格内容问题

            });
            return dataTable;
        }

    </script>
}