@{
    Layout = null;
}

@using ZT.SMS.Web
@using ZT.SMS.Core
@using ZT.Utillity
@model  MsgViewModel

@Scripts.Render("~/bundles/saos")
@Scripts.Render("~/bundles/ajaxAsync")
@Scripts.Render("~/bundles/validate")
@Styles.Render("~/bootstrap")

<style>
    .progress {
        width: auto;
        margin-top: 20px;
    }

    .progress-bar-animated {
        -webkit-animation: 1s linear infinite progress-bar-stripes;
        animation: 1s linear infinite progress-bar-stripes;
    }
</style>
<article class="page-container" style="padding:30px">
    <div class="progress" style="height:30px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;padding:5px">0%</div>
    </div>
</article>

<script type="text/javascript">
    $(function () {
        var sitv = setInterval(function () {
            checkData(sitv);
        }, 2000); //setInterval()每隔1秒获取一次后台的进度值
    });

    function checkData(obj) {
        try {
            $.ajax({
                url: '@Url.Action("CheckProcess")',
                type: "post",
                data: { cacheKey: '@ViewBag.CacheKey' },
                success: function (data) {
                    if (data.EndTag) {
                        $("div.progress-bar").width("100%").html("100%");
                        clearInterval(obj);
                        var proStatic = "成功/失败=" + data.SuccessCount + "/" + data.FailCount;
                        var resultMsg = "全部发送成功！";
                        var tipIcon = 1;//默认为成功图标

                        if (data.Message == null) {
                            if (data.FailCount > 0) {
                                tipIcon = 8;
                                resultMsg = "操作结束<br/>" + proStatic;
                            }
                        } else {
                            tipIcon = 8;
                            resultMsg = data.Message + "<br/>" + proStatic;
                        }

                        top.layer.alert(resultMsg, {
                            icon: tipIcon,
                            closeBtn: 0,
                            yes: function () {
                                if (parent[1] != null) {
                                    parent[pageIndex()].table1.ajax.reload();
                                } else if (parent.table1 != null) {
                                    parent.table1.ajax.reload();
                                } else {
                                    parent[0].table1.ajax.reload();
                                }
                                parent.layer.closeAll();
                            }
                        });
                    } else {
                        $("div.progress-bar").width(data.Speed + "%").html(data.Speed + "%");
                    }
                },
                error: function (data) {
                    clearInterval(obj);
                    var index = parent.layer.getFrameIndex(window.name);
                    top.layer.close(index);
                    top.layer.alert('发送失败！' + data, { icon: 5 });
                }
            })
        } catch (e1) {
            parent.layer.closeAll();
            alert("脚本异常，页面关闭：" + e1);
        }
    }
</script>