@{
    CertType ctype = ViewBag.CertType;
}
@using HST.Art.Web
@model PageListViewModel<ListViewModel>

@if (Model == null || Model.Count <= 0)
{
    <p class="not-data">暂无数据</p>
}
else
{
    <div class="dataTables_wrapper">
        @if (ctype == CertType.student)
        {
            <div class="query_tiele">
                <span class="fl">学员证书</span>
                <p class="fr"><b>@Model.PageSize 条数据/页</b> 总数 @Model.TotalItemCount 条</p>
            </div>

            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th class="one">#</th>
                        <th style="width:20%;">学员姓名</th>
                        <th style="width:15%;">性别</th>
                        <th style="width:25%;">证书编号</th>
                        <th style="width:30%;">所在地区</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="one">@(i + 1)</td>
                            <td style="width:20%;">@Model[i].Name</td>
                            <td style="width:15%;">@Model[i].Gender</td>
                            <td style="width:25%;">@Model[i].Number</td>
                            <td style="width:30%;">@Model[i].Area</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (ctype == CertType.member)
        {
            <div class="query_tiele">
                <span class="fl">会员单位</span>
                <p class="fr"><b>@Model.PageSize 条数据/页</b> 总数 @Model.TotalItemCount 条</p>
            </div>

            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th class="one">#</th>
                        <th class="two">单位名称</th>
                        <th class="three">单位编号</th>
                        <th class="four">单位星级</th>
                        <th class="five">所在地区</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="one">@(i + 1)</td>
                            <td class="two">@Model[i].Name</td>
                            <td class="three">@Model[i].Number</td>
                            <td class="four">
                                @for (int j = 0; j < Model[i].Star; j++)
                                {
                                    <span><img src="/Content/image/xingxing.png" /></span>
                                }
                                @for (int k = 0; k < (5 - Model[i].Star); k++)
                                {
                                    <span><img src="/Content/image/xingxingh.png" /></span>
                                }                                
                            </td>
                            <td class="five">@Model[i].Area</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="query_tiele">
                <span class="fl">教师证书</span>
                <p class="fr"><b>@Model.PageSize 条数据/页</b> 总数 @Model.TotalItemCount 条</p>
            </div>

            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th class="one">#</th>
                        <th style="width:20%;">教师姓名</th>
                        <th style="width:10%;">性别</th>
                        <th style="width:20%;">教师级别</th>
                        <th style="width:20%;">证书编号</th>
                        <th style="width:20%;">所在地区</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="one">@(i+1)</td>
                            <td style="width:15%;">@Model[i].Name</td>
                            <td style="width:10%;">@Model[i].Gender</td>
                            <td style="width:20%;">@Model[i].LevelName</td>
                            <td style="width:20%;">@Model[i].Number</td>
                            <td style="width:25%;">@Model[i].Area</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="dataTables_paginate paging_simple_numbers">
                @Html.Page(Model.CurrentPageIndex, Model.TotalPageCount, "changePageIndex")
            </div>
        }
    </div>
}