
@using HST.Art.Web
@model PageListViewModel<DownloadViewModel>

@if (Model == null || Model.Count <= 0)
{
    <p class="not-data">暂无数据</p>
}
else
{
    <div class="dataTables_wrapper">
        @foreach (var item in Model)
        {
            <div class="list_list">
                <a href="@Url.Action("download", new { qtype = QSType.detail, id=item.Id,fctype=item.Category })">
                    <div class="list_img fl"><img src="@item.SmallFileImg" onerror="nofind()" /></div>
                    <div class="list_cons fr">
                        <h6>@item.FileTitle</h6>

                        <p>@(string.IsNullOrEmpty(item.Synopsis) ? item.FileTitle : item.Synopsis)</p>
                        <span>@item.CreateTime</span>
                    </div>
                </a>
            </div>
        }

        <div class="dataTables_info">
            <span class="pagesStyle">总共<span class="recordsStyle">@Model.TotalItemCount 条,计 @Model.TotalPageCount </span>页，当前显示 @Model.StartRecordIndex - @Model.EndRecordIndex 条记录 </span>
        </div>
        <div class="dataTables_paginate paging_simple_numbers">
            @Html.Page(Model.CurrentPageIndex, Model.TotalPageCount, "changePageIndex")
        </div>
    </div>
}